.project-container {
  overflow-x: hidden;
  padding: 30px 14px;
  display: grid;
  // height: 100%;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // grid-template-rows: 300px 300px;
  grid-auto-rows: minmax(300px, auto);
}

.project-card {
  height: auto;
  width: auto;
}

.project-card-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  // &.card-title {

  // }

  // &.card-action {

  // }

}

.project-card-img {
  object-fit: cover;
  // max-height: 180px;
  object-position: 100% 0;
  // width: 100%;
}

.card-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin: auto;
}

.project-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}


