.mat-card {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.project-card {
  position: relative;
}

.project-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

