.project-card {
  position: relative;
}

@media only screen and (max-width: 574px) {
  .project-card {
    max-width: 100%;
  }
}

@media only screen and (min-width: 575px) {
  .project-card {
    max-width: 100%;
    height: 525px;
  }
}

/* below css reference from https://stackoverflow.com/questions/50081370/how-to-place-mat-card-mat-card-action-at-bottom-of-card-when-we-are-creating-car */
.mat-card {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}