<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let project of projects; index as i">
      <mat-card class="project-card" 
        [class.mat-elevation-z12]="hovering[i]" 
        [class.mat-elevation-z3]="!hovering[i]" 
        (mouseover)="hovering[i] = true" 
        (mouseout)="hovering[i] = false">
        <div class="row">
          <div class="col-10">
            <h3>{{ project.name }}</h3>
            <p>Web application</p>
          </div>
          <div class="col-2 pl-0">
            <button mat-icon-button color="primary">
              <mat-icon>information</mat-icon>
            </button>
          </div>
        </div>
        <img mat-card-image class="img-fluid" [src]="project.image">
        <mat-card-content class="card-content mb-0">
          <p>
            {{ project.description }}
          </p>
        </mat-card-content>
      </mat-card>      
    </div>
  </div>
</div>