<div class="notfound-container">
    <div class="notfound-header">
        <h1 class="notfound-title">Uh Oh!</h1>
        <h3>We could not find the page you requested</h3>
        <h3>Here are some starting points:</h3>
        <ul>
            <li>
                <a routerLink="/projects">View Projects</a>
            </li>
            <li>
                <a routerLink="/aboutme">About Me</a>
            </li>
            <li>
                <a routerLink="/articles">Articles</a>
            </li>
        </ul>
    </div>
</div>