<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <!-- <div style="height: 80px; background-color: grey;"></div> -->

    <mat-nav-list>
      <a mat-list-item (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </a>
      <a mat-list-item routerLink="/kitchen">
        <!-- <mat-icon>kitchen</mat-icon> -->
        <span>About Me</span>
      </a>
      <a mat-list-item routerLink="/kitchen/recipes">
        <!-- <mat-icon>library_books</mat-icon> -->
        <span>Projects</span>
      </a>
      <!-- <a mat-list-item routerLink="/kitchen/pantry">
        <mat-icon>fastfood</mat-icon>
        <span>Pantry</span>
      </a> -->
    </mat-nav-list>
    
  </mat-sidenav>

  <mat-toolbar color="primary">
    <div class="navbar-center">
      <button type="button" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button type="button" routerLink="/projects">
        <h4>Gunner Madsen</h4>
      </button>
    </div>
  </mat-toolbar>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  
</mat-sidenav-container>
