  <div class="nav-container" [class.is-mobile]="!state[0]">
    <mat-toolbar color="primary" class="nav-toolbar mat-elevation-z8">
      <div *ngIf="state[1]">
        <button mat-icon-button aria-label="View the navigation menu" (click)="navbar.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <button *ngIf="!state[3] || !state[4]" mat-button routerLink="/aboutme">
        <h2>Gunner Madsen</h2>
      </button>
      <div *ngIf="!state[1]">
        <button mat-button routerLink="/">
          Portfolio
        </button>
        <button mat-button routerLink="/aboutme">
          About Me
        </button>
        <button mat-button routerLink="/articles">
          Articles
        </button>
        <button mat-button routerLink="/contact">
          Contact
        </button>
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="!state[0] ? 56 : 0">
      <mat-sidenav #navbar [fixedInViewport]="!state[0]" fixedTopGap="56">
        <mat-nav-list (click)="navbar.toggle()">
          <a mat-list-item>
            <mat-icon>close</mat-icon>
          </a>
          <a mat-list-item routerLink="/aboutme">
            <span>About Me</span>
          </a>
          <a mat-list-item routerLink="/contact">
            <span>Contact</span>
          </a>
          <a mat-list-item routerLink="/">
            <span>Projects</span>
          </a>
          <a mat-list-item routerLink="/articles">
            <span>Articles</span>
          </a>
        </mat-nav-list>
      </mat-sidenav>

      <div class="portfolio-container">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-container>
  </div>
  
