<div class="container-fluid px-0">
    <div class="row">
        <div class="col-auto">
            <h2 class="mb-1">{{ project.name }}</h2>
        </div>
        <div class="col-auto ml-auto">
            <button mat-icon-button (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row mb-3 mt-3">
        <div class="col">
            {{ project.description }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h3 class="mb-1">Front End Technologies</h3>
            <mat-divider class="mb-2"></mat-divider>
            <mat-chip-list>
                <mat-chip color="accent" selected *ngFor="let technology of project.technologies.FrontEnd">
                    {{ technology }}
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h3 class="mb-1">Back End Technologies</h3>
            <mat-divider class="mb-2"></mat-divider>
            <mat-chip-list>
                <mat-chip color="primary" selected *ngFor="let technology of project.technologies.BackEnd">
                    {{ technology }}
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto ml-auto">
            
            <button mat-raised-button color="primary" (click)="routeToExternalSite(project.url)" *ngIf="project.url != null">Live Site</button>
            <button mat-raised-button class="ml-2" (click)="routeToExternalSite(project.githubUrl)" *ngIf="project.githubUrl != null">Github</button>
        </div>
    </div>
</div>
