<div class="dialog__container px-0">

    <div class="dialog__container-heading">
        <h2 class="mb-1">{{ project.name }}</h2>
        <button mat-icon-button (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="dialog__container-body">

        <div class="body__description">
            {{ project.description }}
        </div>
        <div class="body__item">
            <h3 class="body__item-title">Front End Technologies</h3>
            <mat-divider class="mb-2"></mat-divider>
            <mat-chip-list>
                <mat-chip color="accent" selected *ngFor="let technology of project.technologies.FrontEnd">
                    {{ technology }}
                </mat-chip>
            </mat-chip-list>
        </div>
        <div class="body__item">
            <h3 class="body__item-title">Back End Technologies</h3>
            <mat-divider class="mb-2"></mat-divider>
            <mat-chip-list>
                <mat-chip color="primary" selected *ngFor="let technology of project.technologies.BackEnd">
                    {{ technology }}
                </mat-chip>
            </mat-chip-list>
        </div>

    </div>

    <mat-divider></mat-divider>
    
    <div class="dialog__container-actions">
    
        <button mat-raised-button color="primary" color="primary" (click)="routeToExternalSite(project.url)"
            *ngIf="project.url != null">Live Site</button>
        <button mat-raised-button color="warm" class="ml-2" (click)="routeToExternalSite(project.githubUrl)"
            *ngIf="project.githubUrl != null">Github</button>
    </div>
</div>
