.dialog__container {

    display: flex;
    flex-direction: column;

    &-heading {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    &-body {

        .body__description {
            padding-top: 8px;
        }

        .body__item {
            margin-top: 20px;
            padding-bottom: 10px;
        }

    }

    &-actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

}