
<div class="bio-container">
    <div class="parallax-container">

        <section class="image first-background"></section>
        
        <section class="heading">
            <div class="block-heading">
                <div class="avatar"></div>
                <h2 class="text-center mb-0 subheading">Hello, I'm</h2>
                <h1 class="text-center">Gunner Madsen</h1>
            </div>
        </section>
    
        <section class="text" style="--bg: #c8c8bc;">
            <h3 class="text-center">
                I am a web developer who enjoys designing and developing front end web applications; particulary with Angular or React.<br><br>
                In my junior year of college, I first discovered my passion for development, while making a front end web application
                for a transportation startup using JavaScript, and the Google Maps SDK.<br><br>
                I have been developing on the front end since; taking in as much knowledge and experience that I can--learning new languages,
                development patterns, and tooling.
            </h3>
        </section>
        <section class="image second-background">
        </section>
        <section class="heading">
            <h1 class="text-center part-2">Hobbies and Interests</h1>
        </section>
        <section class="text" style="--bg: #638a87;">
            <h3 class="text-center">
                In my spare time, I enjoy hiking, backpacking, and snowbording!
            </h3>
        </section>
        <section class="image third-background"></section>
        <section class="heading">
            <h1>Recent Focus</h1>
        </section>
        <section class="text" style="--bg: #384558;">
            <h3 class="text-center">
                My current focus is in full stack web development with React and Angular, as well as RESTful web service development with ASP.NET Web API and C#. 
            </h3>
        </section>
        <!-- <section class="image fourth-background">
        </section>
        <section class="heading">
            <h1>Suits..</h1>
        </section>
        <section class="text" style="--bg: #9dbdc4;">
            <h1>Up into the sky</h1>
        </section> -->
    </div>
</div>
