
<div class="bio-container">
    <div class="parallax-container">

        <section class="image first-background"></section>
        
        <section class="heading">
            <div class="block-heading">
                <div class="avatar"></div>
                <h2 class="text-center mb-0 subheading">Hello, I'm</h2>
                <h1 class="text-center">Gunner Madsen</h1>
            </div>
        </section>
    
        <section class="text" style="--bg: #c8c8bc;">
            <h3 class="text-center">
                I am a web developer who enjoys building front and back-end JavaScript applications with Angular 5+ and Node.JS.
                I recently graduated from Spokane Falls Community College with a Bachelors degree in Information Technology,
                where my primary focus was in systems engineering using the VMware vSphere suite. <br><br>
                In my junior year of college, I first discovered my passion for development, while making a web application
                for a transportation company using the LAMP Stack, JavaScript, and the Google Maps SDK. Since then,
                I have been developing nonstop; taking in as much knowledge and experience that I can--learning new languages,
                development patterns, and tooling.
            </h3>
        </section>
        <section class="image second-background">
        </section>
        <section class="heading">
            <h1 class="text-center part-2">Hobbies and Interests</h1>
        </section>
        <section class="text" style="--bg: #638a87;">
            <h3 class="text-center">
                In my spare time, I really enjoy ourdoor activities!
                My favorites include backpacking and hiking, bicycling,
                kayaking and river floating, snowbording and even some
                car camping now and again.
            </h3>
        </section>
        <section class="image third-background"></section>
        <section class="heading">
            <h1>Recent Focus</h1>
        </section>
        <section class="text" style="--bg: #384558;">
            <h3 class="text-center">
                My recent focus is in iOS application development with Swift 5, front-end web development with React,
                and RESTful web service development with ASP.NET Web API and C#. 
                In addition, I am actively working on my Angular front-end development skills with RxJS, and NgRx with redux.
            </h3>
        </section>
        <!-- <section class="image fourth-background">
        </section>
        <section class="heading">
            <h1>Suits..</h1>
        </section>
        <section class="text" style="--bg: #9dbdc4;">
            <h1>Up into the sky</h1>
        </section> -->
    </div>
</div>
