
<div class="bio-container">
    <div class="parallax-container">

        <section class="image first-background"></section>
        
        <section class="heading">
            <div class="block-heading">
                <div class="avatar"></div>
                <h2 class="text-center mb-0 subheading">Hello, I'm</h2>
                <h1 class="text-center">Gunner Madsen</h1>
            </div>
        </section>
    
        <section class="text" style="--bg: #c8c8bc;">
            <h3 class="text-center">
                I am a web developer who enjoys designing and developing reactive and data driven Angular web applications using the MEAN stack.
                In June 2018, I graduated from Spokane Falls Community College with a Bachelors degree in Information Technology,
                where my primary focus was in systems engineering using the VMware vSphere suite. <br><br>
                In my junior year of college, I first discovered my passion for development, while making a web application
                for a transportation startup using the LAMP stack on the backend, with JavaScript, and the Google Maps SDK on the front end. Since then,
                I have been developing nonstop; taking in as much knowledge and experience that I can--learning new languages,
                development patterns, and tooling.
            </h3>
        </section>
        <section class="image second-background">
        </section>
        <section class="heading">
            <h1 class="text-center part-2">Hobbies and Interests</h1>
        </section>
        <section class="text" style="--bg: #638a87;">
            <h3 class="text-center">
                In my spare time, I really enjoy ourdoor activities!
                My favorites include backpacking and hiking, bicycling,
                kayaking and river floating, and snowbording!
            </h3>
        </section>
        <section class="image third-background"></section>
        <section class="heading">
            <h1>Recent Focus</h1>
        </section>
        <section class="text" style="--bg: #384558;">
            <h3 class="text-center">
                My current focus is in full stack web development with React and Angular, as well as RESTful web service development with ASP.NET Web API and C#. 
            </h3>
        </section>
        <!-- <section class="image fourth-background">
        </section>
        <section class="heading">
            <h1>Suits..</h1>
        </section>
        <section class="text" style="--bg: #9dbdc4;">
            <h1>Up into the sky</h1>
        </section> -->
    </div>
</div>
